<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>  
         
        body{
            text-align: center;
        }
        .back{
            background-color:greenyellow;
            width: 80%;
            height: 150px;
            margin-left:120px;
        }
        form{
            margin:30px;
        }
        h1{
            margin-top: 40px;
            margin-bottom: 20px;
            color: white;
        }

    </style>
</head>
<body>
    <div class= "back">
        <h1>About</h1>

        <p>안녕하세요, 이곳은 글자를 세주는 페이지입니다!!</p>

        <a href="{%url 'home'%}">홈으로 가기</a>
    </div>
</body>
</html>
