<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>  
         
        body{
            text-align: center;
        }
        .back{
            background-color:greenyellow;
            width: 80%;
            height: 600px;
            margin-left:120px;
        }
        form{
            margin:30px;
        }
        h1{
            margin-top: 40px;
            margin-bottom: 20px;
            color: white;
        }

    </style>
</head>
<body>
    <div class="back">
        <h1>워드 카운터를 만들어 봅시다!!</h1>

        <button type="button" class="btn btn-outline-primary"><a href="{%url 'about'%}">About</a></button>

        <form action="{%url 'result'%}">
            <textarea cols='40' rows='15' name='fulltext'></textarea>
            <br><br>
            <br>    
            <input type ='submit' value='Count!'>
        </form>
    </div>
</body>
</html>